.idea/*
!.idea/codeStyles
!.idea/inspectionProfile
*.iml
.gradle
/local.properties
.DS_Store
/build
*/build
/captures
.externalNativeBuild
/temp
_mirror
/keystore/ci_systems_kis_smp_release.jks
/keystore/mpr_103_android_release.jks.jks
/keystore/keystore_release.properties
!.idea/inspectionProfiles
mapping.txt